body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Adicionado para garantir que o corpo preencha a altura total da viewport */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    margin-right: 40px;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    flex: 1; /* Adicionado para garantir que o main preencha o espaço restante */
}

main section {
    display: none;
}

main section.active {
    display: block;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.day {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.day:hover {
    background-color: #e0e0e0;
}

.productive {
    background-color: #c8e6c9;
}

.unproductive {
    background-color: #ffcdd2;
}

.feedback {
    margin-top: 20px;
    font-size: 1.2em;
    color: #d32f2f;
}

#home-section {
    height: auto;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Styles for the Study Schedule Section */
.schedule {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.schedule h3 {
    color: #4CAF50;
}

.schedule ul {
    list-style-type: none;
    padding: 0;
}

.schedule li {
    margin-bottom: 10px;
}
